{% extends "main/base.html" %}


{% block body %}

    {% for article in articles %}
        {% if article %}
            <div class="col-md-6 col-sm-6">
                <article class=" blog-teaser">
                    <header>
                        <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                        <h3><a href="{{ url_for('single', art_id=article.id) }}">{{ article.title }}</a></h3>
                        <span class="meta">{{ article.create_time }}, {{ article.author.username }}</span>
                        <hr>
                    </header>
                    <div class="body">
                        {{ article.content[:60] }}... ...
                    </div>
                    <div class="clearfix">
                        <a href="{{ url_for('single', art_id=article.id) }}" class="btn btn-clean-one">Read more</a>
                    </div>
                </article>
            </div>
        {% endif %}

{% endfor %}

{% endblock %}